.header-with-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
    position: relative;
    gap: 2rem;
}

.header-with-filter h1 {
    font-size: 3rem;
}

.header-with-filter h2 {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

#sort-filter {
    position: absolute;
    left: 0;
    padding: 0.5rem 1rem;
    width: 170px;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    background-color: #111827;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#sort-filter:hover {
    background-color: #1f2937;
}

#sort-filter:focus {
    outline: 2px solid #111827;
    outline-offset: 2px;
}

#search-bar {
    padding: 0.5rem 4rem;
    border-radius: 1rem;
    font-size: 1rem;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color: #111827;
    color: white;
    transition: background-color 0.3s ease;
}

#search-bar:hover {
    background-color: #1f2937;
}

#search-bar:focus {
    outline: 2px solid #111827;
    outline-offset: 2px;
}

#category-filter {
    position: absolute;
    right: 0;
    padding: 0.5rem 1rem;
    width: 170px;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    background-color: #111827;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#category-filter:hover {
    background-color: #1f2937;
}

#category-filter:focus {
    outline: 2px solid #111827;
    outline-offset: 2px;
}