.hero {
    background: linear-gradient(to bottom, #10B981 55%, #0d7e58 100%);
    height: calc(100vh - 4rem);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}

.heroImg {
    height: 20rem;
    margin-bottom: 4rem;
    transition: transform 0.3s;
}

.heroImg:hover {
    transform: scale(1.05);
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.hero h2 {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.heroSpan {
    color:#1b7692
}

.btnsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.browseBtn {
    background-color: #111827;
    text-decoration: none;
    color: #10B981;
    border-radius: 50px;
    padding: 1rem 2rem;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    cursor: pointer;
}

.browseBtn:hover {
    background-color: #10B981;
    color: #111827;
}

.howItWorksBtn {
    background-color: #10B981;
    text-decoration: none;
    color: #111827;
    border-radius: 50px;
    padding: 1rem 2rem;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border: solid;
    border-color: #111827;
    cursor: pointer;
}

.howItWorksBtn:hover {
    background-color: #111827;
    color: #10B981;
}

.examplePriceTiers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #10B981;
    background-color: #111827;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}

.tiersContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.tier {
    background-color: #10B981;
    color: #111827;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}