/* Global reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Sticky Footer */
html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  background-color: #0d7e58;
  font-family: sans-serif;
}

/* Root container (flex dla sticky footer) */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* CSS Variables */
:root {
  --color-primary: #10B981;
  --color-dark:  #111827;
  --color-bg: #0d7e58;
  --color-accent: #1b7692;
}